1.*.*
*~
*.o
*.so
*.po
*.a
*.log
*.la
*.lo
*.tar.*
*.pc
.deps
.libs
Makefile.in
Makefile
ar-lib
configure
m4/libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
libtool.m4
lt~obsolete.m4
missing
stamp-h1
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
compile
testing/flashtest
testing/mathpar
testing/src/.dirstamp
testing/xdatasettest
testing/xexpdbltest
testing/xrandtest
xastro/src/.dirstamp
xcpp/src/.dirstamp
xflash/src/.dirstamp
xio/src/.dirstamp
xmath/src/.dirstamp
xstdlib/src/.dirstamp
xtime/src/.dirstamp
xtools/src/.dirstamp
xtools/textcol
xtools/xdatasetget
xtools/xdatasettocsv
xtools/xgenwiki
xtools/xexpfit
xtools/xlinfit
testing/xsqmltest

